@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

#cs50head{
width:100%;
height:100px;
background:white;
color:black;
line-height:100px;
text-align:center;
font-family: 'Cutive Mono';
font-size:50px;
}

#cs50foot{
width:100%;
height:100px;
background:white;
color:red;

line-height:80px;

font:40px helvetica;
}

#tweets .ui-listview li {
	background: #FCFCFC;
	color: #666;
	font-weight: normal;
	border-top: 1px solid #888;
}

#tweets .ui-listview a{
	color: #555;
}